<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>WorkSpace Mk 0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>EmailAuthFilter</display-name>
    <filter-name>EmailAuthFilter</filter-name>
    <filter-class>com.AddUser.EmailAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmailAuthFilter</filter-name>
    <url-pattern>/AddUser</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>UsernamePassFilter</display-name>
    <filter-name>UsernamePassFilter</filter-name>
    <filter-class>com.LoginValidate.UsernamePassFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UsernamePassFilter</filter-name>
    <url-pattern>/LoginValidation</url-pattern>
  </filter-mapping>
</web-app>